.certifications-wrapper {
  display: grid;
  grid-template-columns: [left-s] 1fr [left-e right-s] 1fr [right-e];
  grid-template-rows: [title-s] 200px [title-e row1-s] 200px [row1-e row2-s] 275px [row2-e];
  margin-top: -4px;
  width: 100vw;
  color: black;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
  z-index: 1;

  .certifications-title {
    grid-column: left-s/left-e;
    grid-row: title-s/title-e;
    display: flex;
    margin: 2vh 0vw 0vh 2vw;

    .blue-circle {
      height: 200px;
      width: 200px;
      border-radius: 100px;
      background-color: #01a1ff;
    }

    .full-stack-title {
      font-size: 64px;
      transform: translate(75px, 75px);
      font-weight: 700;
      position: absolute;
      color:white;
      text-shadow: 2px 2px 2px #000000;
    }

    .full-stack-title-animation {
      animation: fullStackTitleSlideFromLeft 1s 1;
    }
  }

  &__left {
    grid-column: left-s/left-e;
    grid-row: row1-s/row1-e;

    .stack-list {
      grid-column: left-s/left-e;
      grid-row: row1-s/row2-e;
      margin-left: 5vw;
      font-size: 24px;
      text-align: left;
    }

    li {
      margin-bottom: 1vh;
      animation: listItemsSlideFromLeft .3s 1;
      color: white;
      text-shadow: 2px 2px 2px #000000;
    }
  }

  &__right {
    position: relative;
    grid-column: right-s/right-e;
    grid-row: row1-s/row1-e;
    grid-auto-flow: row;
    display: grid;
    grid-template-rows: [row1-s] 250px [row1-e row2-s] 300px [row2-e];
    align-items: center;
    width: 50vw;

    .about-certifications {
      grid-row: row1-s/row1-e;
      margin: 0px 35px;
      color: white;
      font-family: "Roboto", sans-serif;
      font-size: 24px;

      p {
        width: 60vw;
        margin-left: 5vw;
        margin-top: 5vh;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
      }
    }

    .binary-video {
      position: absolute;
      grid-row: row2-s/row2-e;
      object-fit: cover;
      position: relative;
      justify-self: center;
      width: 400px;
      border-radius: 50px;
      background-color: #FFFFFF;
      border: 15px solid #333333;
      z-index: 0;
    }

    .icons-wrapper {
      position: absolute;
      grid-row: row2-s/row2-e;
      align-self: center;
      justify-self: center;
      max-height: 400px;
      max-width: 400px;
      z-index: 1;

      .icon {
        margin: 20px 20px 20px 20px;
        height: 40px;
        width: 40px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 481px) {
  .certifications-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: black;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    z-index: 1;
  
    .certifications-title {
      display: flex;
      margin: 2vh 0vw 0vh 2vw;
  
      .blue-circle {
        height: 100px;
        width: 100px;
        border-radius: 100px;
        background-color: #01a1ff;
      }
    }
  
    &__left {
      // grid-column: left-s/left-e;
      // grid-row: row1-s/row1-e;
  
      .stack-list {
        margin: 0px;
        font-size: 24px;
        text-align: left;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
      }
  
      li {
        margin-bottom: 1vh;
        color: white;
        text-shadow: 2px 2px 2px #000000;
      }
    }
  
    &__right {
      position: relative;
      grid-column: right-s/right-e;
      grid-row: row1-s/row1-e;
      grid-auto-flow: row;
      display: block;
      // grid-template-rows: [row1-s] 250px [row1-e row2-s] 300px [row2-e];
      text-justify: center;
      width: 100vw;
      height: 300px;
  
      .about-certifications {
        width: 80vw;
        margin: 2vh 5vw;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        text-justify: center;
      }
  
      .binary-video {
        visibility: hidden;
        position: absolute;
        grid-row: row2-s/row2-e;
        object-fit: cover;
        position: relative;
        justify-self: center;
        width: 400px;
        border-radius: 50px;
        background-color: #FFFFFF;
        border: 15px solid #333333;
        z-index: 0;
      }
  
      .icons-wrapper {
        display: none;
      }
    }
  }
}

