.navbar-wrapper {
  position: fixed;
  height: 5vh;
  width: 100vw;
  z-index: 5;

  .navbar-buttons {
    display: flex;
    float: right;
    margin: 3vh 3vw;
    justify-content: space-around;
    height: 5vh;
    width: 50%;
    min-width:450px;

    .navbar-button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      background: black;
      border: 1px solid white;
      border-radius: 25px;
      color: white;
      height: 100%;
      min-height: 40px;
      width: 20%;
      transition: 0.3s;

      &:hover {
        opacity: 1;
        background: #01a1ff;
        color: black;
      }
    }
  }
}