.projects-page-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;

  &__left {
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;

    .multi-talent {
      font-size: 48px;
      text-justify: center;
      margin: 0vh 5vw;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 75vw;
    background-color: white;
    color: black;

    .projects-title {
      display: flex;
      height: 300px;
      margin: 2vh 0vw 0vh 2vw;

      .blue-circle {
        height: 200px;
        width: 200px;
        border-radius: 100px;
        background-color: #01a1ff;
        position: absolute;
        transform: translateX(-100px);
        z-index: 0;
      }
    }

    .projects-header {
      text-align: left;
      font-size: 64px;
      position: relative;
    }

      #ReactSimpleImageViewer {
        z-index: 10;
      }

      .projects-about {
        display: flex;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        margin: 50px;
      }

      .projects-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 75vw;

        &__row1 {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          height: 425px;
          width: 100%;

          .project-feature {
            width: auto;
          }
        }

        &__row2 {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          height: 425px;
          width: 100%;

          .project-feature {
            width: auto;
          }
        }
      }
    }

  .building-header {
    font-size: 64px;
  }
}

@media only screen and (max-width: 970px) {

  .projects-page-wrapper {
    width: 100vw;
    
    &__left {
      display: none;
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;

      .projects-wrapper {
        width: 100vw;

        &__row1, &__row2 {
          display: flex;
          flex-direction: column;
          margin-bottom: 50px;

          .project-image-and-caption-wrapper {

            img {
              height: 20vh
            }
            .project-caption {
              width: 400px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 481px) {

  .projects-page-wrapper {
    width: 100vw;
    
    &__left {
      display: none;
    }

    &__right {
      display: flex;
      flex-direction: column;
      // align-items: center;
      width: 100vw;

      .projects-title {
        display: flex;
        height: 100px;
        margin: 2vh 0vw 0vh 2vw;
  
        .blue-circle {
          height: 100px;
          width: 100px;
          border-radius: 100px;
          background-color: #01a1ff;
          transform: translateX(0px);
        }
      }

      .projects-about {
        font-size: 24px;
      }

      .projects-header {
        font-size: 32px;
      }

      .projects-wrapper {
        width: 100vw;

        &__row1, &__row2 {
          display: flex;
          height: fit-content;
          margin-bottom: 0px;

          .project-feature {
            height: fit-content;
            margin-bottom: 25px;

            .project-image-and-caption-wrapper {
              margin: 0px;

              img {
                max-width: 80vw; 
              }
            }
          }
        }
      }
    }
  }
}
